@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fredericka+the+Great&family=Karla:ital,wght@0,200..800;1,200..800&family=Lunasima:wght@400;700&family=Tiny5&display=swap');
@import "include-media.scss";

$scrollBarWidth: 0.65vw;

$breakpoints: (phone: 320px, phoneSE: 375px, tablet: 768px, desktop: 1024px);

// mixins

@mixin tiny-5 {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: Bold;
  font-style: normal;
}

@mixin comfortaa {
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin lunasima {
  font-family: "Lunasima", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// scrollbar

::-webkit-scrollbar {
  width: $scrollBarWidth;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// css

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}



.pointer {
  cursor: pointer;
}

html {
  @include media(">phone", "<=tablet") {
    font-size: 5px;
  }
  @include media(">phoneSE", "<=tablet") {
    font-size: 5px;
  }
  font-size: 16px;

}

html, body {

  background-color: white;
  overflow-x: hidden;

  @include media(">phone", "<=tablet") {
    background-color: white;
    overflow-x: hidden;
    max-width: 100vw;
  }
  @include media(">phoneSE", "<=tablet") {
    background-color: white;
    overflow-x: hidden;
    max-width: 100vw;
  }


  zoom: 1.025;
  @media only screen and (width: 1229px) {
    zoom: 1;
  }
}

body {
  position: relative;
}

.flex-to-mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.s1ini {
  @include karla;
  background-color: #232323;

  width: 100vw;
  height: 100vh;

  .iniHWrap {
    cursor: pointer;

    margin-left: -55vw;
    margin-top: -3vh;
    background-color: #bd00da; // math
    mix-blend-mode: hard-light;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }

  .iniLangWrap {
    position: absolute;
    left: 115vw;
  }

  .iniH1 {
    mix-blend-mode: hard-light;
    pointer-events: none;
    user-select: none;

    padding: 0.2vw 1vw;
    color: white;
    z-index: 2;
    font-size: 5rem;
    @media only screen and (width: 1536px) {
      font-size: 4rem;
    }

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 35px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.s2now {
  @include karla;

  background-color: #212121;

  width: 100vw;
  height: 100vh;

  .nowCont {
    width: 75vw;
    height: 80vh;

    p {
      font-size: 3rem;
      color: white;
    }

    .s2txt2 {
      padding-top: 8%;
    }

    .s2txt3 {
      padding-top: 5%;

      .caret0 {
        animation: infinite 1.5s 2s blink;
      }
    }

    .s2txt4 {
      padding-top: 4%;
    }
  }
}


.s3about {
  @include comfortaa;

  display: flex;
  //flex-wrap: wrap; // how
  @include media(">phone", "<=tablet") {
    flex-wrap: wrap;
  }
  flex-direction: row;

  .bottomRect {
    width: 100%;
    position: absolute;
    margin-top: 598+235px;
  }

  background-color: white;
  width: 100vw;
  height: 120vh;

  div {
    z-index: 19999;
    .aboutCard {
      z-index: 2;
      padding-top: 6%;
      padding-bottom: 8%;
      margin-left: 2.8vw;
      height: 57vh;

      @include media(">phone", "<=tablet") {
        margin-left: -70.8vw;
        height: 24vh;
      }
    }
  }


  .blackLine0 {
    position: absolute;
    z-index: 1;

    left: 34.9vw;

    @include media(">phone", "<=tablet") {
      display: none;
    }
    @include media(">phoneSE", "<=tablet") {
      display: none;
    }
  }

  .blackLine1 {
    position: absolute;
    z-index: 1;

    margin-top: 25.7vh;
    left: 19vw;

    @include media(">phone", "<=tablet") {
      display: none;
    }
    @include media(">phoneSE", "<=tablet") {
      display: none;
    }
  }

  .modernArt {
    padding-left: 1vw;
    padding-right: 0.5vw;
    margin-top: -3.1vh;
    height: 57vh;
  }

  .s3rightCont {
    display: flex;
    margin-top: 16.5vh;

    @include media(">phone", "<=tablet") {
      margin-left: 20.5vw;
      scale: 130%;
    }
    @include media(">phoneSE", "<=tablet") {
      margin-left: 40.5vw;
      scale: 150%;
    }

    ul {
      list-style: none;
      font-size: 1.8rem;

      li {
        margin-top: 3.3vh;
      }
    }

    .rightPfpWrapper {
      margin-top: -3.4vh;
      width: 20.8vw;
      display: flex;
      flex-direction: column;
    }

    .underProfile {
      padding-left: 2.2vw;
    }

    img {
      margin-left: 2.6vw;
      width: 20.8vw;
      object-fit: contain;
    }
  }

  // cringe laptop resolution specific cuz just in case
  // oh wait that's my resolution cuz high dpi screen huh
  @media only screen and (width: 1440px) {
    .aboutCardWrapper {
      margin-left: -7vw;
    }
    .s3rightCont {
      margin-left: -7vw;
    }

    .bottomRect {
      width: 100%;
      position: absolute;
      margin-top: 598+178px;
    }
  }
  @media only screen and (width: 1536px) {
    .aboutCardWrapper {
      margin-left: -7vw;
    }
    .s3rightCont {
      margin-left: -7vw;
    }

    .bottomRect {
      width: 100%;
      position: absolute;
      margin-top: 598+178px;
    }
  }
}

.s4holder {
  background-color: white;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .suidou {
    flex-basis: 100%;
    align-self: end;
  }

  width: 100vw;
  height: 150vh;

  z-index: 10000;
  margin-top: 21.75vh;

  .literalCard {
    margin-left: 0;
    z-index: 2;

    @include media(">phone", "<=tablet") {
      margin-top: -10.75vh;
      margin-left: -34vw;
      scale: 50%;
    }
    @include media(">phoneSE", "<=tablet") {
      margin-left: -15.5vw;
      scale: 50%;
    }

  }
}

.underProfileTxt {
  white-space: pre;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.625rem;
  letter-spacing: 0;
}

.whiteSpacePre {
  white-space: pre;
}

.noSelect {
  user-select: none;
}

.s5webDev {
  background-image: url("../img/ContrastBg.svg");

  background-size: cover;

  // simple solutions
  margin-top: -39vh;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  width: 100vw;
  height: 286vh;

  @include media(">phone", "<=tablet") {
    height: 220vh;
  }


  .topperContainer {
    margin-top: 20vh;

    .webDevHeader {
      @include lunasima;
      color: white;

      margin-left: 2.5vw;
      font-size: 11.25rem;

      @include media(">phone", "<=tablet") {
        margin-top: -10vh;
      }
    }

    svg {
      margin-left: 2.5vw;
    }
  }

  .allEmDoubleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vw;

    @include media(">phone", "<=tablet") {
      padding-top: 40vw;
    }


    height: 0;
    width: 100vw;
    overflow-x: clip;


    .allEmWrapper {
      overflow-x: clip;
      width: 80vw;
      height: 175vh;

      .allEmBoxes {
        width: 100%;
        height: 100%;

        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

        display: grid;
        overflow-x: clip;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 22px;
        grid-row-gap: 12px;

        background-color: #121212;
        padding: 5vh;

        @include media(">phone", "<=tablet") {
          margin-top: 2vh;
        }

        div {
          cursor: initial !important;
        }

        a, div {

          width: 100%;

          box-shadow: rgba(94,0,170,0.4) -5px 5px, rgba(96,0,198,0.3) -10px 10px, rgba(116,0,225,0.2) -15px 15px, rgba(130,0,237,0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
          cursor: url("../img/cursor1.png") 40 4, pointer;

          height: 100%;
          transition: all 0.5s ease;

          video {

            width: 100%;
            height: 55.3vh;
            object-fit: cover;
            clip-path: inset(20px 0 20px 0);

            transition: all 0.5s ease;

          }

        }

        .a:not(:hover), div:not(:hover){
          box-shadow: rgba(94,0,170,0.4) -5px 5px, rgba(96,0,198,0.3) -10px 10px, rgba(116,0,225,0.2) -15px 15px, rgba(130,0,237,0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
        }

        a:hover, div:hover {
          box-shadow: rgba(230,0,214,0.4) -5px 5px, rgba(198,0,188,0.3) -10px 10px, rgba(210,0,225,0.2) -15px 15px, rgba(237,0,225,0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
        }

        // more in the component cuz variables
      }
    }
  }

}

.wdiv1 {
  //background-image: url("../img/compfullhd.png");
  //background-size: 80vw;
  //background-repeat: no-repeat;
  //background-position: center;
}

.wdiv3 {
  //background-image: url("../img/compfullhd.png");
  //background-size: cover;
}

.webDevLineWrapper {
  height: 0;
}

.topperContainerWrapper {
  height: 0;
}

$progBgActualWidth: 100 vw-0 .5vw;

.s6programmin {
  display: flex;
  margin-top: -0.1vh;
  height: 455vh;
  background-color: #191919;

  @include media(">phone", "<=tablet") {
    height: 155vh;
    z-index: 10008;
  }
  @include media(">phoneSE", "<=tablet") {
    height: 255vh;
    z-index: 10008;
  }

  .progBgImg {
    @include media(">phone", "<=tablet") {
      display: none;
    }
    @include media(">phoneSE", "<=tablet") {
      transform: scaleY(30%);
    }
    position: absolute;
    margin-top: -44.5vh;
    margin-left: -1.4vw;
    width: $progBgActualWidth;
    transform: scaleY(90%);
  }
}

.innerProgCont {
  z-index: 1;
  width: 100%;
  height: 93.7%;
  margin-left: 5.5%;

  .coverUp {
    position: absolute;
    margin-left: -6vw;
    background-color: #191919;
    box-shadow: inset black 0 0 60px -12px;
    z-index: 10001;
    margin-top: 1px;
    width: 6.1vw;
    -webkit-backface-visibility: hidden;
    height: 454.8vh;

    @include media(">phone", "<=tablet") {
      height: 154.8vh;
    }
    @include media(">phoneSE", "<=tablet") {
      height: 254vh;
    }

  }

  // background-color: #151515;

  .devTxt {
    user-select: none;
    margin-top: -12vh;
    margin-left: 4vw;
    @include tiny-5;

    color: white;
    font-size: 11.25rem;

    @include media(">phone", "<=tablet") {
      margin-top: 3vh;
    }
    @include media(">phoneSE", "<=tablet") {
      margin-top: 3vh;
    }
  }

  .progCaretCont {
    display: flex;
    flex-direction: row;

    .caret1 {
      animation: infinite 1.5s 2s blink;

      margin-bottom: -0.3vh;
      align-self: center;
      background-color: white;
      width: 3vw;
      height: 16.5vh;

      @include media(">phone", "<=tablet") {
        height: 6.5vh;
      }
    }
  }

  .devSecContainer {
    margin-top: -29vh;

    @include media(">phone", "<=tablet") {
      margin-top: 0;
    }
    @include media(">phoneSE", "<=tablet") {
      margin-top: 0;
    }
  }

  .devSec {
    display: flex;
    flex-direction: row;

    width: 100%;

    flex-grow: 1;

    .funkyDiv {
      width: 100%;
      height: 25%;

      flex-basis: 28%;
      flex-grow: 0;
      flex-shrink: 0;

      img:nth-child(1) {

        width: 23%;
        position: absolute;
        z-index: -1;
        margin-top: 20%;
        margin-left: 1%;
      }

      img:nth-child(2) {
        width: 9%;
        position: absolute;
        margin-top: 30%;
        margin-left: 12%;
      }

      img:nth-child(3) {
        width: 7%;
        position: absolute;
        margin-top: 10%;
        margin-left: 30%;
      }
    }

    .devSecBox {
      video {
        width: 60%;
        margin-top: 5%;
        margin-bottom: 1%;
        //height: 51.87%;

        border: black 3px solid;

        margin-left: 33%;

        @include media(">phone", "<=tablet") {
          width: 90%;
          margin-left: 4%;
        }
      }

      .devVideoEven {
        margin-left: 4.5vw;

        @include media(">phone", "<=tablet") {
          width: 90%;
          margin-left: 4%;
        }
      }

      img {
        width: 60%;
        margin-top: 5%;
        margin-bottom: 1%;
        //height: 51.87%;

        border: black 3px solid;

        margin-left: 33%;

        @include media(">phone", "<=tablet") {
          width: 90%;
          margin-left: 4%;
        }
      }

      .devSecTxtContainer {
        @include tiny-5;

        color: white;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.35);

        z-index: -100;

        padding: 3% 20% 2% 4.5vw;

        h3 {
          font-size: 3rem;
        }

        svg {
          padding-top: 1%;
          padding-bottom: 1%;
        }

        p {
          font-size: 1.3rem;
        }

        a {
          color: #555555;
        }
      }
    }
  }
}

.devTxtContEven {
  padding-left: 4.5vw;
}

.devSecContainer {
  overflow-x: clip;
}

.gitPlug {
  @include tiny-5;
  color: white;
  font-size: 3.125rem;

  margin-top: 5%;
  margin-left: 70%;


  a {
    color: #555555;
  }
}

.gitPlug > a:hover {
  color: #12FEFFFF;
  transition: all 0.3s ease-in-out;
}

.gitLinkDeco {
  color: #555555;
}

.gitLinkDeco:hover {
  color: #12FEFFFF;
  transition: all 0.3s ease-in-out;
}


.S7designin {
  background-color: #fae0b6;
  position: relative;
  display: flex;

  @include media(">phone", "<=tablet") {
    flex-direction: column;
    padding-bottom: 5vh;
  }
  @include media(">phoneSE", "<=tablet") {
    flex-direction: column;
    padding-bottom: 5vh;
  }

  .desiLeft {
    height: 100.9vh;
    padding-top: 5vh;
    background-color: #fae0b6;

    @include media(">phone", "<=tablet") {
      scale: 50%;
      margin-left: -35vw;
    }

    svg {
      padding-top: 3.5vh;
      background-color: #fae0b6;
    }
  }

  .desiRightWrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-left: black solid 3px;

    @include media(">phone", "<=tablet") {
      border-left: unset;
    }

    .desiRight {
      width: 100%;

      //background-color: #FFEDD8;
      //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='800' viewBox='0 0 1600 800'%3E%3Cpath fill='%23FFFFFF' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%23FFFFFF' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
      background-attachment: fixed;



      padding-left: 10px;
      margin-left: 5vw;

      @media only screen and (width: 1440px) {
        margin-left: 0;
      }
      @media only screen and (width: 1536px) {
        margin-left: 0;
      }

      @include media(">phone", "<=tablet") {
        border-left: unset;
        padding-top: 0;
        margin-top: -30vh;
        margin-left: 2vw;

        background-color: initial;
        background-attachment: initial;
      }
      @include media(">phoneSE", "<=tablet") {
        border-left: unset;
        padding-top: 8vh;
        margin-left: 4vw;

        background-color: initial;
        background-attachment: initial;
      }

      display: grid;
      grid-template-columns: repeat(10, 4.43vw);
      grid-template-rows: repeat(9, 4.43vw);

      @include media(">phone", "<=tablet") {
        grid-template-columns: repeat(10, 6.43vw);
        grid-template-rows: repeat(9, 6.43vw);
      }
      grid-auto-rows: auto;
      grid-auto-flow: dense; // <- oh my god does this thing have power
      gap: 8px;

      img {
        border: 1px solid black;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: white;

        -webkit-filter: brightness(100%);
        cursor: pointer;

      }

      img:hover {
        -webkit-filter: brightness(50%);
        transition: all 0.3s ease-in-out;
      }

      img.pne-grid-cell {
        grid-row: span 1 / auto;
        grid-column: span 1 / auto;
      }

      img.four-grid-cells {
        grid-row: span 2 / auto;
        grid-column: span 2 / auto;
      }

      img.six-grid-cells {
        grid-row: span 3 / auto;
        grid-column: span 2 / auto;
      }

      img.eight-grid-cells {
        grid-row: span 4 / auto;
        grid-column: span 2 / auto;
      }

      img.four-horizontal-grid-cells {
        grid-row: span 2 / auto;
        grid-column: span 4 / auto;
      }


      img.wide-image {
        grid-column: span 2 / auto;
      }
    }
  }

}

.hidden-elem {
  display: none;

  img {
    display: none;
  }
}

.no-pointer {
  pointer-events: all !important;

  img {
    pointer-events: all !important;
  }
}

.lightBox {
  cursor: pointer;
  width: 100vw;
  height: 100vh;
  z-index: 10009;
  position: fixed;
  inset: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    font-family: sans-serif;

    color: white;
    padding-top: 2%;
    font-size: 2rem;
  }
}

.desiLitImg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.lightBoxImg {
  border: solid black 3px;
  margin-top: -2%;
  user-select: none;

  max-height: 75%;

  @include media(">phone", "<=tablet") {
    margin-top: -10vh;
    max-width: 90%;
  }

}


.opacityLightBoxWrapper {
  opacity: 0;
}

.lilSpoiler {
  transition: all 0.8s ease;
  opacity: 1;
  cursor: pointer;
}

.skills {
  z-index: 10000;

  margin-top: 116vh;
  margin-left: 92vh;
  position: absolute;
  width: 55vw;

  @include media(">phone", "<=tablet") {
    margin-top: 156vh;
    margin-left: 2vh;
    width: 104vw;
  }
  @include media(">phoneSE", "<=tablet") {
    margin-top: 126vh;
    margin-left: 52vh;
    width: 60vw;
  }
}

.iniIllusion {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  .iniIllu1 {
    user-select: none;
    pointer-events: none;
    position: absolute;
    left: 28%;
    top: 6%;
    scale: 0.7;

  }
  .iniIllu2 {
    user-select: none;
    pointer-events: none;
    position: absolute;
    left: 30%;
    scale: 0.7;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }


  @include media(">phone", "<=tablet") {
    display: none;
  }
  @include media(">phoneSE", "<=tablet") {
    display: none;

  }
}

.flag {
  background-color: white;
  color: transparent;
  background-clip: text;
}

.graphicsDescTxt {
  @include media(">phone", "<=tablet") {
    transform: translate(-15px, 0);
  }
}

.footer {
  background-color: #232323;
  display: flex;
  flex-direction: row;
  padding: 1vw;

  z-index: 10009;

  color: white;
  @include comfortaa;
  a {
    padding-left: 0.1vw;
  }
  p {
    padding-left: 3vw;
  }
  .footerRight {
    margin-left: auto;
  }
}

.webBg {
  width: 100%;
  height: 300vh;
  overflow: hidden;
  position: absolute;
  .webBgSquare {
    position: absolute;
    z-index: 0;
    background-color: #1e1e1e;


    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .webBgSquare:nth-child(1) {
    margin-top: 80%;
    margin-left: -4%;
    width: 9vw;
    height: 9vw;
  }

  .webBgSquare:nth-child(2) {
    margin-top: 60%;
    margin-left: 94%;
    width: 7vw;
    height: 7vw;
  }

  .webBgSquare:nth-child(3) {
    margin-top: 121%;
    margin-left: 75%;
    width: 6vw;
    height: 6vw;
  }
}